---
layout: default
title: Sharing What I've Learned
---
<h1>Anthony Reimer’s Blog for Mac Admins</h1>
<p>This is my blog for Mac Admins, focusing on things that may be of interest to those who run Mac computer Labs like I do.</p>
<p>For my older presentations and posts, visit my <a href="https://ucalgary.ca/iaml/help/pro" target="_blank">Resources for Mac IT/AT Professionals</a> page at the University of Calgary. That's also where you’ll continue to find my <a href="https://ucalgary.ca/iaml/help/pro/hwswchart" target="_blank">Mac Hardware/Software Obsolescence Chart</a>.</p>
<p>For all my other personally-created content, go to my <a href="https://jazzace.ca/">personal web site</a> (Established 1996), also linked at the top of each page.</p>
<h2>Posts So Far:</h2>
{% assign postsByYear =
	site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <h4>{{ year.name }}</h4>
	<ul>
	  {% for post in year.items %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
{% endfor %}
